/* 브라우저 화면 비율 조절해도 footer 안 보이게 하기 start */
html, body {
    margin: 0px;
    padding: 0px;
    width: 100%; height: 100%;
}
.wrap {
    min-height: 100%;
}
/* 브라우저 화면 비율 조절해도 footer 안 보이게 하기 end */
.navbar-item {
    /* 모바일화면에서 검색 부분 select태그와 input태그 가로정렬 */
    display: flex;
}
.search-btn-left {
    width: 50%;
    display: flex; /*bulma 사용 안해서 flex가 없음*/
}
.search-btn-right { /*flex가 이미 bulma에 있음*/
    width: 50%;
}
#search-select {
    margin-right: 8px;
}
#search-input {
    max-width: 240px;
}
.list-btn-container {
    width: 80%;
}
.post-list-table-container {
    margin-top: 30px;
    min-height: 500px;
}
.post-list-align-center {
    text-align: center;
    margin: auto;
}
.cell-width-8 {
    width: 8%;
}
.cell-width-20 {
    width: 20%;
}
.cell-width-35 {
    width: 35%;
}
.detail-container {
    width: 90%;
    min-height: 200px;
    margin: auto;
}
.cell-width-15-bold {
    width: 15%;
    font-weight: bold;
}