<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:title" content="MyBlog">
  <meta property="og:description" content="나의 블로그에 글을 남겨보세요!">
  <meta property="og:image" content="images/ogimage.png">
  <title>Myblog</title>
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/bulma-divider.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/post_detail.js"></script>
  <link rel="stylesheet" href="/css/post_detail.css">

</head>
<style>
  nav.navbar {
    height: 6rem !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
  }
</style>
<body>
  <div class="wrap">
    <!---------------------- NAV ---------------------->
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../..">
            <img src="/images/logo.png" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
        </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div th:if="${name != null}">안녕하세요, <span th:text="${name}"></span>님!</div>
              <div th:if="${name != null}">
                <form id="my_form" action="/user/logout" method="post">
                  <a id="logout-text" href="javascript:{}" onclick="document.getElementById('my_form').submit();">
                    로그아웃
                  </a>
                </form>
              </div>
            </div>
            <a th:unless="${name != null}"
               class="navbar-item is-size-5 has-text-weight-semibold" href="/user/signup">
              Sign up
            </a>
            <a th:unless="${name != null}"
               class="navbar-item is-size-5 has-text-weight-semibold" href="/user/login">
              Sign in
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!---------------------- 상세보기 ---------------------->
    <section id="show-detail" class="hero section-container">
      <div class="hero-body detail-edit-div">
        <div class="container">
          <div>
          <table id="detail-table" class="table table is-fullwidth">
            <tbody>
              <tr>
                <td class="cell-width-15-bold">제목</td>
                <td id="detail-title" colspan="3" th:text="${post.title}"></td>
              </tr>
              <tr>
                <td class="cell-width-15-bold">작성자</td>
                <td id="detail-name" class="cell-width-35" th:text="${post.name}"></td>
                <td class="cell-width-15-bold">작성일</td>
                <td id="detail-createdate" class="cell-width-35"
                    th:text="${#temporals.format(post.modifiedAt, 'YYYY/MM/dd HH:mm')}"></td>
              </tr>
              <tr id="content-tr">
                <td class="cell-width-15-bold">내용</td>
                <td id="detail-content" colspan="3">
                  <pre th:text="${post.content}"></pre>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
          <div class="btns">
            <button class="button is-rounded modal-button" onclick="location.href='/'">목록으로</button>
            <button id="edit-btn" class="button is-rounded modal-button" th:if="${name != null}">수정하기</button>
          </div>
        </div>

        <div class="comments">
          <article class="message">
            <div class="comment-info">
              <div class="comment-name">김철수</div>&nbsp;&nbsp;|&nbsp;&nbsp;
              <div class="comment-createdate">2021/10/07 21:30</div>
              <div class="comment-edit-delete">
                <a>수정</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a>삭제</a>
              </div>
            </div>
            <div class="message-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
            </div>
          </article>
          <article class="message">
            <div class="comment-info">
              <p>ㅍㅍㅍㅍㅍㅍ</p>
            </div>
            <div class="message-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
            </div>
          </article>
        </div>
      </div>
    </section>
  <!---------------------- 글 수정 ---------------------->
    <section id="edit-post" class="hero section-container">
      <div class="hero-body">
        <div class="container detail-edit-div">
            <!-- Content ... -->
          <form th:action="@{/posts/post/{id}(id=${post.id})}" method="post">
            <input type="hidden" name="_method" value="put">
            <div class="field">
                <label class="label">제목</label>
                <div class="control">
                  <input name="title" id="write-title" class="input" type="text"
                         placeholder="제목을 입력하세요" th:value="${post.title}">
                </div>
              </div>

            <div class="field">
                <label class="label">작성자</label>
                <div class="control">
                  <input name="name" id="write-name" class="input" type="text"
                         placeholder="이름을 입력하세요" th:value="${post.name}">
                </div>
              </div>

            <div class="field">
              <label class="label">내용</label>
              <div class="control">
                  <textarea name="content" id="write-content" class="textarea"
                            placeholder="내용을 입력하세요" th:text="${post.content}"></textarea>
                </div>
              <div class="btns">
                  <button class="button is-rounded modal-button">수정하기</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
<!---------------------- footer ---------------------->
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      ©2021 Nayoung.  All rights Reserved<br>
      contact: <a href="mailto:nybae2015@gmail.com">nybae2015@gmail.com</a>
    </p>
  </div>
</footer>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }

  });
</script>

</div>
</body>

</html>